# Series


A Series is a one-dimensional array containing a sequence of values of any data type 
(int, float, list, string, etc) which by default have numeric data labels starting from zero. 
The data label associated with a particular value is called its index. 
We can also assign values of other data types as index. 
We can imagine a Pandas Series as a column in a spreadsheet. 

Example of a series containing names of students is given below:

Index Value
0     Arnab
1     Samridhi
2     Ramit
3     Divyam
4     Kritika

####  Creation of Series
There are different ways in which a series can be created 
in Pandas.
 To create or use series, we first need to import
the Pandas library.

##### A) Creation of Series from Scalar Values
A Series can be created using scalar values as shown in 
the example below:

In [5]:
import pandas as pd        #import Pandas with alias pd
import numpy as np

In [6]:
series1 = pd.Series([10, 20, 30, 40])
series1

0    10
1    20
2    30
3    40
dtype: int64

In [7]:
series2 = pd.Series(["Kavi", "Shyam", "Ravi"], index = [3, 5, 1])
series2

3     Kavi
5    Shyam
1     Ravi
dtype: object

In [8]:
series3 = pd.Series([1, 2, 3, 4], index = ["Jan", "Feb", "Mar", "Apr"])
series3

Jan    1
Feb    2
Mar    3
Apr    4
dtype: int64

##### B) Creation of Series from NumPy Arrays
We can create a series from a one-dimensional (1D) 
NumPy array, as shown below:

In [9]:
array1 = np.array([1, 2, 3, 4])

In [10]:
series4 = pd.Series(array1)
series4

0    1
1    2
2    3
3    4
dtype: int32

In [11]:
series5 = pd.Series(array1, index = ["Monday", "Tuesday", "Wednesday", "Thursday"])
series5

Monday       1
Tuesday      2
Wednesday    3
Thursday     4
dtype: int32

<b>When index labels are passed with the array, then the length of the index and array must be of the same size, else it will result in a ValueError. 
In the example shown below, array1 contains 4 values whereas there are only 3 indices, hence <u>ValueError</u> is displayed.</b>

In [12]:
series5 = pd.Series(array1, index = ["Monday", "Tuesday", "Wednesday"])
series5

ValueError: Length of values (4) does not match length of index (3)

In [ ]:
dict1 = {
    "India" : "NewDelhi",
    "United Kingdom" : "London",
    "Japan" : "Tokyo",
    "Russia" : "Moscow",
    "Bangladesh" : "Dhaka"
}


series6 = pd.Series(dict1)
series6

####  Accessing Elements of a Series
There are two common ways for accessing the elements 
of a series:
<p> Indexing and Slicing</p>.

##### A) Indexing

In [ ]:
seriesNum = pd.Series([1, 20, 30, 40, 50])

seriesNum[2]

In [ ]:
seriesMnths = pd.Series([1, 2, 3, 4], index = ["Jan", "Feb", "Mar", "Apr"])

print(seriesMnths)

seriesMnths["Apr"]

In [ ]:
seriesCapCountry = pd.Series(["New Delhi", "Washington DC", "London", "Paris"], index = ["India", "USA", "UK", "France"])
seriesCapCountry

<b>We can also access an element of the series using the positional index:</b>

In [ ]:
print(seriesCapCountry["USA"])
print(seriesCapCountry[1])

In [ ]:
# More than one element of a series can be accessed using a list of positional integers or a list of index labels as shown in the following examples:

seriesCapCountry[[3, 2]]

In [ ]:
# The index values associated with the series can be altered by assigning new index values as shown in the following example:

seriesCapCountry.index = [10, 20, 30, 40]
seriesCapCountry

##### B) Slicing

In [ ]:
seriesCapCountry["USA" : "France"]

In [ ]:
seriesCapCountry[1:3]

<b>We can also get the series in reverse order, for example: </b>

In [ ]:
seriesCapCountry[ : : -1]

In [ ]:
seriesCapCountry[ : : 1]  # India can't be down in the Series

In [ ]:
seriesAlpha = pd.Series(np.arange(10,16,1), index = ["a", "b", "c", "d", "e", "f"])
seriesAlpha

In [ ]:
seriesAlpha[1:3] = 50
seriesAlpha

In [ ]:
seriesAlpha["c":"e"] = 500
seriesAlpha

####  Attributes of Series in Pandas

In [ ]:
print(seriesCapCountry)
type(seriesCapCountry)

<p>.name : assigns a name to the Series</p>

In [ ]:
seriesCapCountry.name = "Capitals"
print(seriesCapCountry)

<p>.index.name assigns a name to the index of the series</p>

In [ ]:
seriesCapCountry.index.name = "Countries"
seriesCapCountry.name = "Capitals"
print(seriesCapCountry)

<p>.values prints a list of the values in the series</p>

In [ ]:
seriesCapCountry.values

<p>size prints the number of values in the Series object</p>

In [ ]:
seriesCapCountry.size

<p>.empty prints True if the series is 
empty, and False otherwise</p>

In [ ]:
print(seriesCapCountry.empty)

# Creating an empty series 
seriesEmpt=pd.Series()
seriesEmpt.empty

#### Methods of Series

In [14]:
seriesTenTwenty = pd.Series(np.arange(10, 20, 1))
seriesTenTwenty

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int32

<u>head(n)</u> Returns the first n members of the series. If the value for n is not passed, then by default n takes 5 and the first five members are displayed.

In [15]:
seriesTenTwenty.head(2)

0    10
1    11
dtype: int32

In [16]:
seriesTenTwenty.head()

0    10
1    11
2    12
3    13
4    14
dtype: int32

<u>tail(n)</u> Returns the last n members of the series. If the value for n is not passed, then by default n takes 5 and the last five members are displayed.

In [18]:
seriesTenTwenty.tail(2)

8    18
9    19
dtype: int32

In [19]:
seriesTenTwenty.tail()

5    15
6    16
7    17
8    18
9    19
dtype: int32

<u>count()</u> Returns the number of non-NaN values in the Series

In [23]:
seriesTenTwenty.count()

10

#### Mathematical Operations on Series

In [24]:
seriesA = pd.Series([1, 2, 3, 4,  5], index = ["a", "b", "c", "d", "e"])
seriesA

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [25]:
seriesB = pd.Series([10, 20, -10, -50, 100], index = ["z", "y", "a", "c", "e"])
seriesB

z     10
y     20
a    -10
c    -50
e    100
dtype: int64

##### A) Addition of two Series

It can be done in two ways. 
In the <b>first method</b>, two 
series are simply added togethe
Note here 
that the output of addition is NaN if one of th  elements
or both elements have no value.r

In [27]:
seriesA + seriesB

a     -9.0
b      NaN
c    -47.0
d      NaN
e    105.0
y      NaN
z      NaN
dtype: float64

<img src= "pandas addition of Two Series.jpg">Pictorial Representation</img>N
z 10 NaN

The <b>second method</b> is applied when we do not want to have NaN values in the output. We can use the series method add(). That is, calling seriesA.add(seriesB) is equivalent to calling seriesA+seriesB.

In [28]:
seriesA.add(seriesB)

a     -9.0
b      NaN
c    -47.0
d      NaN
e    105.0
y      NaN
z      NaN
dtype: float64

We can use the series method add() and a parameter fill_value to replace missing value with a specified value. add() allows explicit specification of the fill value for any element in seriesA or seriesB that might be missing

In [29]:
seriesA.add(seriesB, fill_value = 0)

a     -9.0
b      2.0
c    -47.0
d      4.0
e    105.0
y     20.0
z     10.0
dtype: float64

##### B) Subtraction of two Series

In [31]:
seriesA - seriesB

a    11.0
b     NaN
c    53.0
d     NaN
e   -95.0
y     NaN
z     NaN
dtype: float64

In [35]:
seriesA.sub(seriesB, fill_value = 0)

a    11.0
b     2.0
c    53.0
d     4.0
e   -95.0
y   -20.0
z   -10.0
dtype: float64

##### C) Multiplication of two Series

In [36]:
seriesA * seriesB

a    -10.0
b      NaN
c   -150.0
d      NaN
e    500.0
y      NaN
z      NaN
dtype: float64

In [37]:
seriesA.mul(seriesB, fill_value = 0)

a    -10.0
b      0.0
c   -150.0
d      0.0
e    500.0
y      0.0
z      0.0
dtype: float64

##### D) Division of two Series

In [38]:
seriesA / seriesB

a   -0.10
b     NaN
c   -0.06
d     NaN
e    0.05
y     NaN
z     NaN
dtype: float64

In [39]:
seriesA.div(seriesB, fill_value = 0)

a   -0.10
b     inf
c   -0.06
d     inf
e    0.05
y    0.00
z    0.00
dtype: float64